.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 1179px;
  width: 1004px;
  background-color: white;

  margin-left: 220px;
  margin-top: 1841px;
}
.card {
  height: 346px;
  width: 221px;
  background-color: white;
  display: flex;
  /* flex-wrap: wrap;  */
  flex-direction: column;
}
.gp {
  line-height: 0.1em;
  /* height: 20px; */
  /* width: 160px; */
}

.im {
  height: 200px;
  width: 221px;
  border-radius: 22px;
  overflow: hidden;
  background-size: cover;
}
.btn {
  height: 32px;
  width: 76px;
  border-radius: 20px;
  margin-left: 60px;
  background-color: white;
  color: #ad9189;
  border-color: #ad9189;
}

.card2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.shape {
  color: rgba(76, 129, 189, 0.6);
  height: 15px;
  width: 15px;
  margin-left: 50px;
}

@media (max-width: 370px) {
  body {
    margin: 0px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    height: 1530px;
    width: 360px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .card {
    height: 255px;
    width: 170px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
  }
  .im {
    height: 117px;
    width: 170px;
    border-radius: 10px;
    overflow: hidden;
    background-size: contain;
  }
  h4 {
    font-size: 14px;
  }
  .text2 {
    font-size: 12px;
  }
}
